.sidebarDesign {
    background: #FFF;
    position: fixed;
    left: 0;
    width: 230px;
    height: 100%;
    transition: 0.4s;
    transition-property: left;
    z-index: 100;
    font-family: var(--textFamily);
    padding: 0px 10px;
}

.sidebar-logo {
    position: relative;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 4px;
    img{
        width: 52px;
        height: 52px;
    }
    .text{
        font-family: var(--textFamily);
        font-size: 20px;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: center;
        color: var(--blackColor)
    }
}

.sidebarDesign ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    justify-content: flex-start;
    width: 100%;
}

.sidebarDesign li {
    padding: 3px 0px;
    width: 100%;
    margin: auto;
}

.sidebarDesign li .sidebar-navlink {
    color:  #53545C;
    display: block;
    width: 100%;
    text-decoration: none;
    padding: 10px 0px;
    padding-left: 10px;
    box-sizing: border-box;
    transition: 0.5s all ease;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0em;
    font-family: var(--interFamily);
    border-radius: 12px;
}

.sidebarDesign li .sidebar-navlink:hover{
    background: var(--primaryColor);
    color: #fff;
    border-radius: 12px;
}
li .active {
    background: var(--primaryColor)!important;
    color: #fff!important;
    border-radius: 12px;
}
.sidebarDesign .sidebar-navlink .icon {
    padding-right: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sidebarDesign .sidebar-navlink svg{
    width: 22px;
    height: 22px;
}

.sidebarDesign .sidebar-navlink:hover .icon svg path,
li .active svg path
 {
    fill: #fff;
}
.sidebarDesign .sidebar-navlink:hover .icon svg path,
li .active svg path{
    fill: #5570F114;
    stroke: #fff
}
.sidebarlabel {
    display: flex;
    justify-content: flex-end;
}

.sidebarlabel #sidebar_btn {
    position: relative;
    background-color: var(--primaryColor);
    z-index: 100;
    color: rgb(238, 12, 12);
    cursor: pointer;
    font-size: 23px;
    transition: 0.5s ease;
    border-radius: 20px;
}

.sidebarlabel #sidebar_btn:hover {
    color: var(--primaryColor);
}

#interface-check:checked~.sidebarDesign {
    left: -150px;
    overflow: hidden;
}

#interface-check:checked~.sidebarDesign .sidebar-navlink .text {
    display: none;
    opacity: 0;
}

#interface-check:checked~.sidebarDesign .sidebar-navlink {
    font-size: 20px;
    margin-left: 150px;
    width: auto
}

#interface-check:checked~.sidebarDesign .sidebar-logo>:nth-child(2){
    display: none;
}
#interface-check:checked~.sidebarDesign .sidebar-logo{
    position: relative;
    left: 150px;
}
.interface-content {
    margin-left: 230px;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    transition: 0.4s all ease;
    position: relative;
    .interfaceWrapper{
        padding: 20px 0px;
        
    }
}

#interface-check:checked~.interface-content {
    margin-left: 80px;
}

#interface-check {
    display: none;
}
.mobileView{
    display: none;
   
}
.down-sidebar{
    position: fixed;
    width: 210px;
    bottom: 0px;
    .contact{
        background: #5E63661A;
    }
    .upgradeAccount{
        background: #FFCC9133;
        flex-direction: column;
        .first{
            display: flex;
            width: 100%;
        }
        .upgrade{
            display: flex!important;
            width: 100%;
            text-decoration: none;
             font-family: Inter;
            font-size: 12px;
            font-weight: 400;
            line-height: 15px;
            letter-spacing: 0em;
            text-align: left;
            color: #6E7079;
            padding-top: 5px;
            .text{
                display: flex;
                gap: 10px;
                .icon{
                    font-size: 24px!important;
                    font-weight: 600;
                }
            }
        }
    }
    .mobile-logout{
        display: flex;
        gap: 10px;
        align-items: center;
        margin-top: 5px;
        .text{
            //styleName: Paragraph 2/Regular;
            font-family: Inter;
            font-size: 14px;
            font-weight: 400;
            line-height: 17px;
            letter-spacing: 0em;
            text-align: left;
            color: #CC5F5F;
            transition: 0.4s all ease;
        }
        .text:hover{
            color: #dfa3a3;
        }
    }
}

@media screen and (max-width:800px) {
    .mobileView{
        display: block;
        background: transparent;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 15px 5px 15px;
        z-index: 30!important;
    } 
    .sidebarDesign {
        background: #fff;
        position: fixed;
        top:0;
        left: -150%;
        width: 230px;
        height: 100%;
        transition: 0.5s all ease;
        z-index: 40!important;
    }
    .sidebarDesign.active {
        left:0px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;

    }
    .interface-content {
        margin-left: 0px;
    }
    .sidebarlabel{
        display: none;
    }
    .sidebarDesign ul{
        position: relative;
        height: 80%
    }
    .down-sidebar{
        bottom: 30px
    }
    .mobileView .icon{
        font-size: 20px;
        color: #121212;
        font-weight: 600;
        position: relative;
        top:-5px
    }
    .nav-icon .icon:hover{
        color: var(--lightPink);
    }
  
}

@media screen and (max-width: 500px) {
    .sidebar-logo {
        position: relative;
        width: 100%;
        height: 100px;
    }
    .sidebar-logo img{
        width: 20%
    }
}