:root{
  --blackColor: #555454;
  --textFamily:'Raleway', sans-serif;
  --purpleColor:#8456EC ;
  --deepPurple:#240D57;
  --primaryColor: #f3b10a;
  --backgroundColor: linear-gradient(180deg, rgba(247, 68, 208, 0.856), rgb(233, 213, 37));
  --mainBackground: rgb(238, 237, 237) url("https://res.cloudinary.com/hayteetech/image/upload/v1653151782/Joyagunbiade.com/backgroundstripe_wifbou.png");
}
body{
  background: linear-gradient(0deg, #F6F2FF, #F6F2FF), #FBFAFF;
}